body{
    font-family: 'Poppins', sans-serif;
}
#logo{
    width: 90px;
}
section{
    margin-bottom: 40px;
}
.bg-ash a{
    color: black;
    font-weight: 500 ;
    font-size: 16px;
}
.sign-btn{
    height: 38px;
    width: 104px;
    left: 1201px;
    top: 25px;
    border-radius: 33px;
    padding: 12px, 28px, 12px, 28px;
    background-color: #21B573;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.bg-ash{
    background-color: #F0FFF0;
}
#get-start img{
    width: 100%;
}

#get-start h1{
    font-weight: 700;

}

#get-start p{
    font-weight: 400;
    font-size: 16px;
}
#p-1{
    color:#FD511A;
}

#p-2{
    color: #6C6B6B;
}
#content img{
    width: 40px;
}
.content{
    font-family: 'Poppins', sans-serif;
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 5px;
}
.content h6{
    font-weight: 500;
    font-size: 15px;
    color:#413960;
    margin-bottom: 0;
}

.content p{
    font-weight: 400;
    font-size: 10px;
    color: #585859;
}
.content img{
    margin-bottom: 20px;
}
.start-seat img{
    width: 20px;
    height: 20px;
}
.categories h1{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #413960;
    margin-bottom: 30px;
    margin-top: 60px;
}
.date-seat img{
    width: 20px;
    height: 20px;
}
.date-seat{
    margin-top: 35px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    color: #585859;
}
.card{
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 30px lightgrey;
    border: none;
}
.card h3{
    font-size: 24px;
    font-weight: 500;
    color: #413960;
}
.card h5{
    color: #585859;
    font-size: 16px;
    font-weight: 400;
}
.testimonial img{
    width: 120px;
    height: 120px;
}
.testimonial h1{
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 80px;

}
.testimonial p{
    font-weight: 400;
    margin-left: 60px;
}


.links{
    margin-top: 130px;
    margin-bottom: 0;
    padding-bottom: 10px;
    background-color: #282531;
    color: #FFFFFF;
    padding-top: 50px;
}
.links a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
}
.links a:hover{
    color: blue;
    text-decoration: underline;
}

.links h5{
    font-size: 20px;
    font-weight: 600px;
}
footer{
    background-color: #282531;
    text-align: center;
    margin-top: 100px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 300;
}

